html, body {
	margin: 0;
    background-color: #8b8989;
	color: #000000;
	font-family: "Lucida Console", "Courier New", "Monospace", "Arial";
	font-size: 16px;
	line-height: 16px;
    scroll-behavior: smooth;
}

header {
    display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	z-index: 10;
	background: transparent;
}

.DocButton, .ToCButton {
    display: flex;
	float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    height: 60px;
    border: none;
    cursor: pointer;
}

.DocButton {
    width: calc(100% - 400px);
    font-size: 24px;
    color: #000000;
    background: rgba(255,255,255,0.9);
}

.DocButton:hover {
    cursor: pointer;
    border: 2px solid #000000;
}

.ToCButton {
    width: 400px;
    font-size: 18px;
    color: #ffffff;
    background: rgba(0,0,0,0.9);
}

#ToCButtonImg {
    filter: invert(100%);
	transform: rotate(180deg);
    transition: 0.5s;
	transition-timing-function: ease-in-out;   
}

.ToC {
    display: block;
	position: fixed;
	top: 60px;
    right: 0px;
	width: 400px;
    padding-top: 10px;
	z-index: 10;
    background: rgba(255,255,255,0.9);
	transition: 0.5s;
	transition-timing-function: ease-in-out;    
	transform: translateX(400px);
}

.ToC a {
    color: #000000;
    text-decoration: none;
}

.ToC a:hover {
    cursor: pointer;
    font-size: 105%;
}

.ToC ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ToC ul li {
    font-size: 16px;
    text-indent: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ToC ul li ul li {
    font-size: 14px;
    text-indent: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.ToC ul li ul li ul li {
    font-size: 12px;
    font-style: italic;
    text-indent: 85px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.BackToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:150px;
    height: 40px;
    margin: 20px;
    color:#ffffff;
    border: none;
    background: #000000;
}

.BackToTop:hover {
    cursor: pointer;
}

.BackToTop img {
    filter: invert(100%);
	transform: rotate(270deg);
}

.anchor {
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

.content {
    padding-top: 60px;
    padding-right: 20%;
    padding-left: 10%;
    padding-bottom: 100px;
    text-align: justify;
    text-justify: inter-word;
    transition: padding-right 0.5s;
    transition-timing-function: ease-in-out;
}

h2 {
    color: #000000;
}
h3 {
    color: #141414;
    text-indent: 50px;
}
h4 {
    color: #282828;
    text-indent: 100px;
    font-style: italic;
}
p {
    text-indent:50px;
}

/* ***** LINKS ***** */
.aLink, .aLink:link, .aLink:visited {
	color: #ffffff;
	text-decoration: none;
}
.aInteriorLink, .aInteriorLink:link, .aInteriorLink:visited {
	color:#ebcd21;
	text-decoration: none;
}
.aLink:hover, .aInteriorLink:hover {
    cursor: pointer;
    font-size: 100%;
	text-decoration: underline;
}

figure {
    display: block;
    width: 40%;
    margin: 0 auto;
    min-width: 500px;
}
figure img {
    border: 2px solid rgba(0,0,0,0);
    padding: 10px;
}
figure img:hover {
    cursor: pointer;
    border-color: #000000;
}
figcaption {
    /* border: 2px solid #000000; */
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    color: #000000;
    padding: 10px;
}
